## Class-1

In [ ]:
print('''Hello World

3rd line''')

print("""h

ello""", end='')





print(156)

Hello World

3rd line
h

ello156

In [ ]:
print('"hello"')

"hello"

In [ ]:
a = 10

a

10

In [ ]:
a = 50

In [ ]:
a

50

In [ ]:
a=10
b=50
c=100
print(a, b, c)
print(a)
print(b)
print(c)

a = 50
b=10

print(a, b)

10 50 100
10
50
100
50 10

In [ ]:
a=[100, 20, 30, 50, 60, 70, 100]
print(a)
print(a[1])
print(a[-3])
print(a[1:5])
print(a[-5:-2])
print(a[5:1])
print(a[-1:-5])
print(a[3:7])
print(a[3:])

[100, 20, 30, 50, 60, 70, 100]
20
60
[20, 30, 50, 60]
[30, 50, 60]
[]
[]
[50, 60, 70, 100]
[50, 60, 70, 100]

## Class-2

### Topics


*   Array operations
*   Tuple
*   Comments
*   Dictionary
*   Basic Operations
*   User Input
*   Membership Operator
*   Conditional Statement

### Data structures

In [ ]:
a= [10, 20, 30, 40, 25]

In [ ]:
print(a)

[100, 20, 30, 50, 60, 70, 100]

In [ ]:
a[1] = 5000

In [ ]:
print(a)

10

In [ ]:
a = 10

In [ ]:
a= [10, 20, 30, 40, 25]

In [ ]:
print(a)

[10, 20, 30, 40, 25]

In [ ]:
a.append(5000)

In [ ]:
print(a)

[10, 20, 30, 40, 25, 5000]

In [ ]:
print(a)
a.extend([10, 466, 65])
print(a)

[10, 20, 30, 40, 25, 5000]
[10, 20, 30, 40, 25, 5000, 10, 466, 65]

In [ ]:
print(a)
a.insert(5, 6748676)
print(a)

[10, 20, 30, 40, 25, 5000, 10, 466, 65]
[10, 20, 30, 40, 25, 6748676, 5000, 10, 466, 65]

In [ ]:
print(a)
a.remove(20)
print(a)

[10, 20, 30, 40, 25, 6748676, 5000, 10, 466, 65]
[10, 30, 40, 25, 6748676, 5000, 10, 466, 65]

In [ ]:
print(a)
a.remove(10)
a.remove(25)
print(a)

[30, 40, 25, 6748676, 5000, 10, 466, 65]
[30, 40, 6748676, 5000, 466, 65]

In [ ]:
print(a)
a.pop(3)
print(a)

[30, 40, 6748676, 5000, 466, 65]
[30, 40, 6748676, 466, 65]

In [ ]:
t = (10, 50, 60)

In [ ]:
print(t)
print(t[1])
print(t[0:2])

(10, 50, 60)
50
(10, 50)

In [ ]:
t[1] = 50

TypeError: ignored

In [ ]:
print(a)
print(t)

[30, 40, 6748676, 466, 65]
(10, 50, 60)

In [ ]:
print(a)
b = tuple(a)
print(a)
print(b)

[30, 40, 6748676, 466, 65]
(30, 40, 6748676, 466, 65)

In [ ]:
print(b[0:2])

(30, 40)

In [ ]:
print(a)
a = tuple(a)
print(a)

(30, 40, 6748676, 466, 65)
(30, 40, 6748676, 466, 65)

In [ ]:
print(a)

(30, 40, 6748676, 466, 65)

In [ ]:
a[2] = 456456

TypeError: ignored

In [ ]:
c = list(t)
print(c)

[10, 50, 60]

In [ ]:
d = {
    "name": "abc",
    "email": 'aabc@gmail.com',
    2: 500
}
print(d)

{'name': 'abc', 'email': 'aabc@gmail.com', 2: 500}

In [ ]:
print(d["name"])

abc

In [ ]:
print(d[0])

KeyError: ignored

In [ ]:
print(d.keys())

dict_keys(['name', 'email', 2])

In [ ]:
print(d.values())

dict_values(['abc', 'aabc@gmail.com', 500])

In [ ]:
a = set([10, 20, 30, 40, 10])
print(a)

{40, 10, 20, 30}

In [ ]:
print(set([1, 2, 3]) - set([5, 6, 1]))

{2, 3}

In [ ]:
a = set([1, 2, 3])

In [ ]:
print(a)

{1, 2, 3}

In [ ]:
a.add(5)

In [ ]:
print(a)

{1, 2, 3, 5}

In [ ]:
b = set([2, 8, 9])

In [ ]:
a.union(b)

{1, 2, 3, 5, 8, 9}

In [ ]:
print(a)
print(b)

{1, 2, 3, 5}
{8, 9, 2}

In [ ]:
c = a.union(b)

In [ ]:
print(a)
print(b)
print(c)

{1, 2, 3, 5}
{8, 9, 2}
{1, 2, 3, 5, 8, 9}

In [ ]:
d = a.intersection(b)
print(d)

{2}

In [ ]:
e = a.difference(b)
print(e)

{1, 3, 5}

In [ ]:
f = a-b
print(f)

{1, 3, 5}

### Operator

In [ ]:
a = 10
b = 15

In [ ]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(17/3)
print(17//3)
print(round(17/3))
print(a%b)
print(25%7)
print(a**b)
print(2**5)

25
-5
150
0.6666666666666666
0
5.666666666666667
5
6
10
4
1000000000000000
32

In [ ]:
print(a)
print(b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)
print(a!=b)

10
15
False
False
True
True
False
True

In [ ]:
a = [10, 25, 60, 50]

In [ ]:
print(10 in a)
print(50 in a)
print(500 in a)
print(55 not in a)
print(60 not in a)

True
True
False
True
False

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(True or False)
print(not True)

True
False
False
True
False

In [ ]:
print(bin(5))
print(bin(2))
print(bin(7))
print(bin(0))

0b101
0b10
0b111
0b0

In [ ]:
print(5 | 2)
print(5 & 2)

7
0

In [ ]:
print(bin(15))
print(hex(15))
print(oct(15))

0b1111
0xf
0o17

### Commenting

In [ ]:
a = 2
b = 3
print(a**b) # jhgkh g j  ** means power

8

In [ ]:
"""

Summing a and b
and storing result in c

"""

c = a+b
print(c)

5

### User Input

In [ ]:
a = input("Enter a: ")
b = input("Enter b: ")

print(a)
print(b)
print(type(a))
print(type(b))
print(int(a)+int(b))

Enter a: 50
Enter b: 60
50
60
<class 'str'>
<class 'str'>
110

### Conditional statement

In [ ]:
print(50)

50

In [ ]:
a = [10, 20, 60, 50]

# either if or else will be executed
if 30 in a:
  a.remove(30)
  print("we are in if block")
else:
  print("Element not in the list")

print(a)

Element not in the list
[10, 20, 60, 50]

## Class-3

### Topic


*   Conditional Statement
*   Range
*   Loop Statement
*   Class

### Conditional Statement

In [ ]:
mark = int(input())

if mark >= 33:
  print("Passed")
else:
  print("Failed")

50
Passed

In [ ]:
mark = int(input())

if mark >= 80:
  print("A+")
else:
  if mark >= 70:
    print("A")
  else:
    if mark >= 60:
      print("B")
    else:
      if mark >= 50:
        print("C")
      else:
        if mark >= 40:
          print("D")
        else:
          print("F")

56
C

In [ ]:
mark = int(input())

if mark >= 80:
  print("A+")
elif mark >= 70:
  print("A")
elif mark >= 60:
  print("B")
elif mark >= 50:
  print("C")
elif mark >= 40:
  print("D")
else:
  print("F")

56
C

In [ ]:
mark = int(input())

if mark >= 80:
  print("A+")
if mark >= 70:
  print("A")
if mark >= 60:
  print("B")
if mark >= 50:
  print("C")
if mark >= 40:
  print("D")
else:
  print("F")

90
A+
A
B
C
D

In [ ]:
mark = int(input())

if mark <=100 and mark >= 80:
  print("A+")
if mark < 80 and mark >= 70:
  print("A")
if mark < 70 and mark >= 60:
  print("B")
if mark < 60 and mark >= 50:
  print("C")
if mark < 50 and mark >= 40:
  print("D")
if mark < 40:
  print("F")

90
A+

In [ ]:
mark = int(input())

grade = "passed" if mark >= 40 else "failed"
print(grade)

50
passed

### range

In [ ]:
a = range(0, 5, 1)
print(list(a))

[0, 1, 2, 3, 4]

In [ ]:
print(list(range(0, 5, 1)))
print(list(range(0, 5)))
print(list(range(5)))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [ ]:
print(list(range(100, 1000, 50)))

[100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950]

In [ ]:
print(list(range(500, 0, -10)))

[500, 490, 480, 470, 460, 450, 440, 430, 420, 410, 400, 390, 380, 370, 360, 350, 340, 330, 320, 310, 300, 290, 280, 270, 260, 250, 240, 230, 220, 210, 200, 190, 180, 170, 160, 150, 140, 130, 120, 110, 100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

### Loop

In [ ]:
for i in range(5):
  print(i, end=': ')
  print("I am ASHRAFUL")

0: I am ASHRAFUL
1: I am ASHRAFUL
2: I am ASHRAFUL
3: I am ASHRAFUL
4: I am ASHRAFUL

In [ ]:
for i in range(1, 11):
  print("5", end=' x ')
  print(i, end=' = ')
  print(5*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
for i in range(1, 11):
  print(f"5 x {i} = {5*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
n = int(input())

for i in range(1, 11):
  print(f"{n} x {i} = {n*i}")

7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
for n in range(1, 21):
  for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

  print()
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10


2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20


3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60


7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70


8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90


10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100


11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110


12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120


13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130


14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140


15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150


16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160


17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170


18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180


19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190


20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

In [ ]:
# 1 + 2 + 3 + 4 + ... + n = ?
# n <= input

n = int(input())
sum = 0
for i in range(1, n+1):
  sum = sum + i

print(sum, (n*(n+1)) /2 )

60
1830 1830.0

In [ ]:
# 1^2 + 2^2 + 3^2 + 4^2 + ... + n^2 = ?
n = int(input())
sum = 0
for i in range(1, n+1):
  sum = sum + i ** 2

print(sum)

5
55

### Function

In [ ]:
def add(a,b):
  sum = a+b
  return sum

print(add(5,6))

11

In [ ]:
a = 50
b = 600

c = add(a, b)

In [ ]:
print(c)

650

In [ ]:
def print_multiplication_table(n):
  for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

In [ ]:
print_multiplication_table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
def summation(a):
  sum = 0
  for i in range(len(a)):
    sum = sum + a[i]
  # print(sum)
  return sum

In [ ]:
print(summation([5]))

5

In [ ]:
def summation(a):
  sum = 0
  for element in a:
    sum = sum + element
  return sum

In [ ]:
print(summation([5, 4, 6, 9]))

24

In [ ]:
print(max([5, 6, 5]))
print(min([5, 6, 1]))
print(sum([5, 6, 1]))

6
1
12

In [ ]:
a = 10
b = 15
def add():
  return a + b

In [ ]:
a = 155
print(add())

170

In [ ]:
def add(a, b):
  return a+b

In [ ]:
a=5000
print(add(5, 4))

9

### Class-4

#### Function

In [ ]:
def subtraction(a, b):
  return a - b

In [ ]:
print(subtraction(b=5, a=10))

5

In [ ]:
def random_func(a, b, c, d, e):
  return a*b + c*d - e

In [ ]:
print(random_func(b=10, a=50, c=60, e=5, d=3))

675

In [ ]:
def add_sub(a, b):
  return a+b, a-b

In [ ]:
print(add_sub(15, 10))

(25, 5)

In [ ]:
m, n = add_sub(15, 10)
print(m)
print(n)

25
5

In [ ]:
a, b, c = 15, 20, 6
print(a)
print(b)
print(c)

15
20
6

In [ ]:
a, b, c = [15, 20, 6]
print(a)
print(b)
print(c)

15
20
6

In [ ]:
a, b, c = (15, 20, 6)
print(a)
print(b)
print(c)

15
20
6

In [ ]:
l = [15, 20, 6]
a, b, c = l
print(a)
print(b)
print(c)

15
20
6

In [ ]:
l = [15, 20, 6, 50]
a, b, c, _ = l # _ underscore to ignore
print(a)
print(b)
print(c)

15
20
6

In [ ]:
l = [60, 56, 78, 35]
a, _, _, c  = l # _ underscore to ignore
print(a)
print(c)

60
35

In [ ]:
print(b)

NameError: ignored

In [ ]:
del b

NameError: ignored

In [ ]:
a, b = 5, 50
print(a)
print(b)

5
50

In [ ]:
a, b = b, a
print(a)
print(b)

50
5

#### args, kargs

In [ ]:
def random_func(*a):
  print(a)

In [ ]:
random_func(5, "hello", 2, 6, 5)

(5, 'hello', 2, 6, 5)

In [ ]:
def vectorScalarMultiplication(m, *a):
  res = []
  for element in a:
    res.append(element * m)
  return res

In [ ]:
print(vectorScalarMultiplication(5, 2, 3))

[10, 15]

In [ ]:
print(vectorScalarMultiplication(5, 2, 3, 50))

[10, 15, 250]

In [ ]:
print(vectorScalarMultiplication(5, 2, 3, 5, 6, 5))

[10, 15, 25, 30, 25]

In [ ]:
def random_func(**a):
  return a

In [ ]:
print(random_func(b=10, a=50, c=60, e=5, d=3))

{'b': 10, 'a': 50, 'c': 60, 'e': 5, 'd': 3}

In [ ]:
def random_func(m, **a):
  res = []
  for i in a:
    res.append(m * a[i])
  return res

In [ ]:
print(random_func(5, a=10, b=15, c=56))

[50, 75, 280]

#### default value in input/parameter

In [ ]:
def add(a=50, b=60):
  return a+b

In [ ]:
print(add())
print(add(a=500))
print(add(b=100))
print(add(a=500, b=100))

110
560
150
600

In [ ]:
print(add(500))

560

#### class

In [ ]:
class Student:
  def __init__(self):
    self.name = 'name'
    self.roll = 0
    self.level = 4
    self.term = 2

In [ ]:
class Student:
  def __init__(self, name='ashraful', roll=0, level=1, term=1):
    self.name = name
    self.roll = roll
    self.level = level
    self.term = term

In [ ]:
a = Student()

print(a.name)
print(a.roll)
print(a.level)
print(a.term)

ashraful
0
1
1

In [ ]:
a = Student(roll=50, name='ashraful', level=4, term=2)

print(a.name)
print(a.roll)
print(a.level)
print(a.term)

ashraful
50
4
2

In [ ]:
b = Student(roll=65, name='rashid', level=4, term=2)

print(b.name)
print(b.roll)
print(b.level)
print(b.term)

rashid
65
4
2

In [ ]:
class Vector:
  def __init__(self, *value):
    self.dimension = len(value)
    self.value = value

  def scalar_multiplication(self, m):
    res = []
    for element in self.value:
      res.append(element * m)
    return res

  def dot_product(self, b):
    res = 0
    for i in range(self.dimension):
      res = res + self.value[i] * b.value[i]
    return res

In [ ]:
a = Vector(5, 6)
b = Vector(2, 3)

print(a.scalar_multiplication(5))
print(a.dot_product(b))

[25, 30]
28

In [ ]:
a = Vector(2, 3)
print(a.dimension)
print(a.value)

2
(2, 3)

In [ ]:
b = Vector(2, 3, 5)
print(b.dimension)
print(b.value)

3
(2, 3, 5)