In [1]:
print("hello world")

hello world

In [6]:
print('hello world in "single" quotes')

hello world in "single" quotes

In [2]:
print('''Hello World

3rd line''')

print("""h

ello""", end='')





print(156)

Hello World

3rd line
h

ello156

In [7]:
print(len("hello world"))

11
kowshic

# Variables and Types

In [1]:
name = "kowshic"
print("hello world", end=' ', file=open('initials.txt', "w"))
print(name)
print("kowshic is a lecturer in dept of CSE.")

kowshic
kowshic is a lecturer in dept of CSE.

In [ ]:
print(f"This is {name}. We welcome {name} to the world of AI")

In [2]:
a = 10

a

10

In [4]:
a = 50
a

50

In [5]:
a=10
b=50
c=100
print(a, b, c)
print(a)
print(b)
print(c)

a = 50
b=10

print(a, b)

10 50 100
10
50
100
50 10

In [6]:
type(a)

int

In [7]:
d = 10.5
d

10.5

In [8]:
type(d)

float

In [9]:
type(name)

str

# Arrays

In [6]:
a=[100, 20, 30, 50, 60, 70, 100]
print(a)
print(len(a))

[100, 20, 30, 50, 60, 70, 100]
7

In [12]:
print(a[1])

20

In [13]:
print(a[-3])

60

In [14]:
print(a[1:5])

[20, 30, 50, 60]

In [15]:
print(a[-5:-2])

[30, 50, 60]

In [16]:
print(a[5:1])

[]

In [17]:
print(a[-1:-5])

[]

In [21]:
print(a[3:7])
print(a[3: 10])

[50, 60, 70, 100]
[50, 60, 70, 100]

In [19]:
print(a[3:])

[50, 60, 70, 100]

In [7]:
a[1] = -100
# a[-1] = 99
a[7] = 9

IndexError: list assignment index out of range

In [30]:
a.append(110)
a

[100, -100, 30, 50, 60, 70, 9, 110, 110]

In [38]:
print(a)
a.pop()
print(a)

[-100, 9, 30, 50, 60, 70, 100, 110]
[-100, 9, 30, 50, 60, 70, 100]

In [39]:
print(a)
a.extend([200, 300, 400])
a

[-100, 9, 30, 50, 60, 70, 100]

[-100, 9, 30, 50, 60, 70, 100, 200, 300, 400]

In [37]:
# some other useful functions
# a.sort()
# a.insert(2, 500)
# a.remove(100)
# a.pop(2)

[-100, 9, 30, 50, 60, 70, 100, 110]

In [9]:
# touple is immutable
b = (10, 20, 30, 40, 50)
print(b)

(10, 20, 30, 40, 50)

In [15]:
b[1] = 100

TypeError: 'tuple' object does not support item assignment