#### for loop

In [ ]:
# print 5 times your name

In [1]:
for i in range(5):
    print("kowshic")

kowshic
kowshic
kowshic
kowshic
kowshic

In [2]:
for i in range(5):
    print(f"{i} th time saying kowshic")

0 th time saying kowshic
1 th time saying kowshic
2 th time saying kowshic
3 th time saying kowshic
4 th time saying kowshic

In [4]:
# print 5 times your name except 1st time
for i in range(5):
    if i == 0:
        continue
    print(f"{i} th time saying kowshic")

1 th time saying kowshic
2 th time saying kowshic
3 th time saying kowshic
4 th time saying kowshic

In [7]:
# print 3 times your name except 1st time
for i in range(5):
    if i == 3:
        break
    print(f"{i} th time saying kowshic")

0 th time saying kowshic
1 th time saying kowshic
2 th time saying kowshic

In [8]:
for i in range(5):
    if i == 2:
        # we have not decided what to do
        pass
    print(f"{i} th time saying kowshic")

0 th time saying kowshic
1 th time saying kowshic
2 th time saying kowshic
3 th time saying kowshic
4 th time saying kowshic

In [11]:
# now 5 er namota


# for i in range(1,11):
#     print(f"{i} x 5 = {i*5}")

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [16]:
# n = 5
for n in range(1, 11): 
    print(f"multiplication table of {n}:")
    for i in range(1, 11):
        m = i * n
        print(f"{i} x {n} = {m}")
    print("=" * 20)

multiplication table of 1:
1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
====================
multiplication table of 2:
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
====================
multiplication table of 3:
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
====================
multiplication table of 4:
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
====================
multiplication table of 5:
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
====================
multiplication table of 6:
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
====================
multiplication table of 7:
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70
====================
multiplication table of 8:
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
====================
multiplication table of 9:
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90
====================
multiplication table of 10:
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100
====================

### FILE

In [23]:
with open("multiplication-table.txt", 'w') as f:
    for n in range(1, 11): 
        print(f"multiplication table of {n}:", file=f)
        for i in range(1, 11):
            m = i * n
            print(f"{i} x {n} = {m}", file=f)
        print("=" * 20, file=f)

In [28]:
with open("multiplication-table.txt", 'r') as f:
    # content = f.read()
    content = f.readlines()
    print(content)
    for line in content:
        print(line, end='')

['multiplication table of 1:\n', '1 x 1 = 1\n', '2 x 1 = 2\n', '3 x 1 = 3\n', '4 x 1 = 4\n', '5 x 1 = 5\n', '6 x 1 = 6\n', '7 x 1 = 7\n', '8 x 1 = 8\n', '9 x 1 = 9\n', '10 x 1 = 10\n', '====================\n', 'multiplication table of 2:\n', '1 x 2 = 2\n', '2 x 2 = 4\n', '3 x 2 = 6\n', '4 x 2 = 8\n', '5 x 2 = 10\n', '6 x 2 = 12\n', '7 x 2 = 14\n', '8 x 2 = 16\n', '9 x 2 = 18\n', '10 x 2 = 20\n', '====================\n', 'multiplication table of 3:\n', '1 x 3 = 3\n', '2 x 3 = 6\n', '3 x 3 = 9\n', '4 x 3 = 12\n', '5 x 3 = 15\n', '6 x 3 = 18\n', '7 x 3 = 21\n', '8 x 3 = 24\n', '9 x 3 = 27\n', '10 x 3 = 30\n', '====================\n', 'multiplication table of 4:\n', '1 x 4 = 4\n', '2 x 4 = 8\n', '3 x 4 = 12\n', '4 x 4 = 16\n', '5 x 4 = 20\n', '6 x 4 = 24\n', '7 x 4 = 28\n', '8 x 4 = 32\n', '9 x 4 = 36\n', '10 x 4 = 40\n', '====================\n', 'multiplication table of 5:\n', '1 x 5 = 5\n', '2 x 5 = 10\n', '3 x 5 = 15\n', '4 x 5 = 20\n', '5 x 5 = 25\n', '6 x 5 = 30\n', '7 x 5 = 35\n', '8 x 5 = 40\n', '9 x 5 = 45\n', '10 x 5 = 50\n', '====================\n', 'multiplication table of 6:\n', '1 x 6 = 6\n', '2 x 6 = 12\n', '3 x 6 = 18\n', '4 x 6 = 24\n', '5 x 6 = 30\n', '6 x 6 = 36\n', '7 x 6 = 42\n', '8 x 6 = 48\n', '9 x 6 = 54\n', '10 x 6 = 60\n', '====================\n', 'multiplication table of 7:\n', '1 x 7 = 7\n', '2 x 7 = 14\n', '3 x 7 = 21\n', '4 x 7 = 28\n', '5 x 7 = 35\n', '6 x 7 = 42\n', '7 x 7 = 49\n', '8 x 7 = 56\n', '9 x 7 = 63\n', '10 x 7 = 70\n', '====================\n', 'multiplication table of 8:\n', '1 x 8 = 8\n', '2 x 8 = 16\n', '3 x 8 = 24\n', '4 x 8 = 32\n', '5 x 8 = 40\n', '6 x 8 = 48\n', '7 x 8 = 56\n', '8 x 8 = 64\n', '9 x 8 = 72\n', '10 x 8 = 80\n', '====================\n', 'multiplication table of 9:\n', '1 x 9 = 9\n', '2 x 9 = 18\n', '3 x 9 = 27\n', '4 x 9 = 36\n', '5 x 9 = 45\n', '6 x 9 = 54\n', '7 x 9 = 63\n', '8 x 9 = 72\n', '9 x 9 = 81\n', '10 x 9 = 90\n', '====================\n', 'multiplication table of 10:\n', '1 x 10 = 10\n', '2 x 10 = 20\n', '3 x 10 = 30\n', '4 x 10 = 40\n', '5 x 10 = 50\n', '6 x 10 = 60\n', '7 x 10 = 70\n', '8 x 10 = 80\n', '9 x 10 = 90\n', '10 x 10 = 100\n', '====================\n']
multiplication table of 1:
1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
====================
multiplication table of 2:
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
====================
multiplication table of 3:
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
====================
multiplication table of 4:
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
====================
multiplication table of 5:
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
====================
multiplication table of 6:
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
====================
multiplication table of 7:
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70
====================
multiplication table of 8:
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
====================
multiplication table of 9:
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90
====================
multiplication table of 10:
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100
====================

#### FUNCTION

In [29]:
# n = 5
for n in range(1, 11): 
    print(f"multiplication table of {n}:")
    for i in range(1, 11):
        m = i * n
        print(f"{i} x {n} = {m}")
    print("=" * 20)

multiplication table of 1:
1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
====================
multiplication table of 2:
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
====================
multiplication table of 3:
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
====================
multiplication table of 4:
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
====================
multiplication table of 5:
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
====================
multiplication table of 6:
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
====================
multiplication table of 7:
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70
====================
multiplication table of 8:
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
====================
multiplication table of 9:
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90
====================
multiplication table of 10:
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100
====================

In [30]:
def dhan_vangar_machine(dhan):
    # documentation how chal is prepared
    # some how prepare chal 
    chal = dhan * .75
    return chal

In [33]:
def ruti_bananor_machine(chal, pani):
    return chal + pani

In [35]:
def add(a,b):
  sum = a+b
  return sum

11

In [37]:
print(add(5,6))

11

In [38]:
def print_multiplication_table(n):
    print(f"multiplication table for {n}")
    for i in range(1, 11):
        print(f"{n} x {i} = {n*i}")

In [39]:
print_multiplication_table(20)

multiplication table for 20
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

In [ ]:
# delete the multiplication table file

In [34]:
# 1 + 2 + 3 + 4 + ... + n = ?
# n <= input

n = int(input())
sum = 0
for i in range(1, n+1):
  sum = sum + i

print(sum, (n*(n+1)) /2 )

1035 1035.0

In [41]:
def summation(_list):
  sum = 0
  for i in range(len(_list)):
    sum = sum + _list[i]
  # print(sum)
  return sum

In [43]:
summation([11, 20])

31

In [50]:
def random_func(*a):
  print(f"parameter is {a}, type is {type(a)}")

random_func(1, 2, 3)

parameter is (1, 2, 3), type is <class 'tuple'>

In [51]:
def random_func(m, **a):
  print(f"parameter is {a}, type is {type(a)}")

print(random_func(5, a=10, b=15, c=56))

parameter is {'a': 10, 'b': 15, 'c': 56}, type is <class 'dict'>
None

In [53]:
def add(a=50, b=60):
  return a+b

In [52]:
print(add())
print(add(a=500))
print(add(b=100))
print(add(a=500, b=100))

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

#### Class

In [54]:
# class

In [55]:
class Student:
  def __init__(self):
    self.name = 'name'
    self.roll = 0
    self.level = 4
    self.term = 2

In [56]:
a = Student()

print(a.name)
print(a.roll)
print(a.level)
print(a.term)

name
0
4
2

In [57]:
class Calculator:
    """Do addition, subtraction, multiplication and division."""

    def addition(self, a, b):
        return a+b

    def subtraction(self, a, b):
        return a-b

    def multiplication(self, a, b):
        return a*b

    def division(self, a, b):
        try:
            return a/b
        except ZeroDivisionError:
            return 'It is impossible to divide by zero.'

In [ ]:
my_calculator = Calculator()

temp = my_calculator.addition(12, 78)
print(temp)

temp = my_calculator.subtraction(50, 23)
print(temp)

temp = my_calculator.multiplication(9, 19)
print(temp)

temp = my_calculator.division(400, 5)
print(temp)

temp = my_calculator.division(43, 0)
print(temp)

In [ ]:
class SuperCalculator(Calculator):
    """Child class of Calculator. Do square and cube."""

    def square(self, a):
        return a * a

    def cube(self, a):
        return a * a * a

In [58]:
my_calculator = SuperCalculator()

temp = my_calculator.addition(23, 47)
print(temp)

temp = my_calculator.subtraction(87, 54)
print(temp)

temp = my_calculator.multiplication(65, 56)
print(temp)

temp = my_calculator.division(852, 76)
print(temp)

temp = my_calculator.square(7)
print(temp)

temp = my_calculator.cube(3)
print(temp)

NameError: name 'SuperCalculator' is not defined

In [ ]:
class Vector:
  def __init__(self, *value):
    self.dimension = len(value)
    self.value = value

  def scalar_multiplication(self, m):
    res = []
    for element in self.value:
      res.append(element * m)
    return res

  def dot_product(self, b):
    res = 0
    for i in range(self.dimension):
      res = res + self.value[i] * b.value[i]
    return res