In [3]:
for i in range(10):
    print("Kowshic")

Kowshic
Kowshic
Kowshic
Kowshic
Kowshic
Kowshic
Kowshic
Kowshic
Kowshic
Kowshic

In [15]:
name = "Kowshic"

for i in range(15):
    print(f"{name} is said again. i = {i}")

Kowshic is said again. i = 0
Kowshic is said again. i = 1
Kowshic is said again. i = 2
Kowshic is said again. i = 3
Kowshic is said again. i = 4
Kowshic is said again. i = 5
Kowshic is said again. i = 6
Kowshic is said again. i = 7
Kowshic is said again. i = 8
Kowshic is said again. i = 9
Kowshic is said again. i = 10
Kowshic is said again. i = 11
Kowshic is said again. i = 12
Kowshic is said again. i = 13
Kowshic is said again. i = 14

In [18]:
for i in range(4):
    if i == 0:
        continue
    print(f"{i}th time saying {name}")

1th time saying Kowshic
2th time saying Kowshic
3th time saying Kowshic

In [20]:
for i in range (8):
    if i == 5:
        continue
    print(f"{name} showed for the {i} time")

Kowshic showed for the 0 time
Kowshic showed for the 1 time
Kowshic showed for the 2 time
Kowshic showed for the 3 time
Kowshic showed for the 4 time
Kowshic showed for the 6 time
Kowshic showed for the 7 time

In [22]:
for i in range (8):
    if i == 5:
        break
    print(f"{name} showed for the {i} time")

Kowshic showed for the 0 time
Kowshic showed for the 1 time
Kowshic showed for the 2 time
Kowshic showed for the 3 time
Kowshic showed for the 4 time

In [23]:
for i in range (8):
    if i < 5:
        continue
    print(f"{name} showed for the {i} time")

Kowshic showed for the 5 time
Kowshic showed for the 6 time
Kowshic showed for the 7 time

In [24]:
for i in range(3, 10):
    print(f"{i}th time showing {name}")

3th time showing Kowshic
4th time showing Kowshic
5th time showing Kowshic
6th time showing Kowshic
7th time showing Kowshic
8th time showing Kowshic
9th time showing Kowshic

In [26]:
for i in range(3, 12, 3):
    print(f"{i}th {name} being shown")

3th Kowshic being shown
6th Kowshic being shown
9th Kowshic being shown

In [19]:
for i in range(50):
    if i >= 15 and i <= 25:
        continue
    print(f"{i}")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [33]:
n = 7
for i in range(11):
    if i == 0:
        continue
    m = i * n
    print(f"{i} x {n} = {m}")

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

In [35]:
n = 6
for i in range(1, 11):
    m = i * n
    print(f"{i} x {n} = {m}")

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

In [47]:
n = 6
for i in range(11):
    m = i * n
    if i == 0:
        pass
    print(f"{i} x {n} = {m}")

0 x 6 = 0
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

In [ ]:
for n in range (1, 21):
    print(f"Multiplication table for {n}")
    for i in range(1, 11):
        m = i * n
        print(f"{i} x {n} = {m}")
    print("==" * 10)

Multiplication table for 1
1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
====================
Multiplication table for 2
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
====================
Multiplication table for 3
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
====================
Multiplication table for 4
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
====================
Multiplication table for 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
====================
Multiplication table for 6
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
====================
Multiplication table for 7
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70
====================
Multiplication table for 8
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
====================
Multiplication table for 9
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90
====================
Multiplication table for 10
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100
====================
Multiplication table for 11
1 x 11 = 11
2 x 11 = 22
3 x 11 = 33
4 x 11 = 44
5 x 11 = 55
6 x 11 = 66
7 x 11 = 77
8 x 11 = 88
9 x 11 = 99
10 x 11 = 110
====================
Multiplication table for 12
1 x 12 = 12
2 x 12 = 24
3 x 12 = 36
4 x 12 = 48
5 x 12 = 60
6 x 12 = 72
7 x 12 = 84
8 x 12 = 96
9 x 12 = 108
10 x 12 = 120
====================
Multiplication table for 13
1 x 13 = 13
2 x 13 = 26
3 x 13 = 39
4 x 13 = 52
5 x 13 = 65
6 x 13 = 78
7 x 13 = 91
8 x 13 = 104
9 x 13 = 117
10 x 13 = 130
====================
Multiplication table for 14
1 x 14 = 14
2 x 14 = 28
3 x 14 = 42
4 x 14 = 56
5 x 14 = 70
6 x 14 = 84
7 x 14 = 98
8 x 14 = 112
9 x 14 = 126
10 x 14 = 140
====================
Multiplication table for 15
1 x 15 = 15
2 x 15 = 30
3 x 15 = 45
4 x 15 = 60
5 x 15 = 75
6 x 15 = 90
7 x 15 = 105
8 x 15 = 120
9 x 15 = 135
10 x 15 = 150
====================
Multiplication table for 16
1 x 16 = 16
2 x 16 = 32
3 x 16 = 48
4 x 16 = 64
5 x 16 = 80
6 x 16 = 96
7 x 16 = 112
8 x 16 = 128
9 x 16 = 144
10 x 16 = 160
====================
Multiplication table for 17
1 x 17 = 17
2 x 17 = 34
3 x 17 = 51
4 x 17 = 68
5 x 17 = 85
6 x 17 = 102
7 x 17 = 119
8 x 17 = 136
9 x 17 = 153
10 x 17 = 170
====================
Multiplication table for 18
1 x 18 = 18
2 x 18 = 36
3 x 18 = 54
4 x 18 = 72
5 x 18 = 90
6 x 18 = 108
7 x 18 = 126
8 x 18 = 144
9 x 18 = 162
10 x 18 = 180
====================
Multiplication table for 19
1 x 19 = 19
2 x 19 = 38
3 x 19 = 57
4 x 19 = 76
5 x 19 = 95
6 x 19 = 114
7 x 19 = 133
8 x 19 = 152
9 x 19 = 171
10 x 19 = 190
====================
Multiplication table for 20
1 x 20 = 20
2 x 20 = 40
3 x 20 = 60
4 x 20 = 80
5 x 20 = 100
6 x 20 = 120
7 x 20 = 140
8 x 20 = 160
9 x 20 = 180
10 x 20 = 200
====================

In [3]:
with open("myFile.txt", 'w') as f:
    print("This is a demo on file", file = f)

In [14]:
with open ("myFile.txt", 'r') as f:
    content = f.read()
    print(content)

This is a demo on file

In [21]:
with open("myFile.txt", 'r') as f:
    print(f.read())

This is a demo on file

In [20]:
with open("MultiplicationFile.txt", 'w') as f:
    for i in range(1, 16):
        print(f"Multiplication Table of {i}", file  = f)
        for j in range (1, 11):
            n = i * j
            print(f"{i} x {j} = {n}", file = f)
        print("==" * 10, file = f)

In [26]:
sum = 0
for i in range(1, 101):
    sum += i
print(sum)

5050

In [29]:
sum = 0 
for i in range(1, 101):
    if i % 5 == 0:
        sum += i
        print(sum)

5
15
30
50
75
105
140
180
225
275
330
390
455
525
600
680
765
855
950
1050

In [30]:
# def multiplicationTable():
def add(a, b):
    summation = a + b
    return summation

In [31]:
add(5, 6)

11

In [35]:
import math
x = 4
sigmoid = 1 / (1 + math.exp(-x))
print(sigmoid)

0.9820137900379085

In [36]:
def sigmoid(x):
    import math
    val = 1 / (1 + math.exp(-x))
    return val

In [43]:
def printMultiplicationTable(x):
    print(f"Multiplication table for {x}")
    for i in range(1, 11):
        # m = i * x
        # print(f"{x} x {i} = {m}")
        print(f"{x} x {i} = {x*i}")
    return
    
printMultiplicationTable(8)

Multiplication table for 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [44]:
def randomFunction(m, n, **a):
    print(f"parameter is {a}, type is {type(a)}")
    print(f"b is {a['b']}")
    print(f"m is {m}")
    print(f"n is {n}")
    print(f"b is {a['b']}")

randomFunction(5, 6, a = 10, b = 15, c = 56)

parameter is {'a': 10, 'b': 15, 'c': 56}, type is <class 'dict'>
b is 15
m is 5
n is 6
b is 15

In [ ]:
def random_function(*args, **a):
    print(f"Parameter is {a}, type is {type(a)}")

In [46]:
def add(a, b = 11):
    print(f"{a} + {b} = {a + b}")

add(4, 8)
add(9)
add(b = 11, a = 6)

4 + 8 = 12
9 + 11 = 20
6 + 11 = 17

In [1]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.designation = "unemplyed"
    def doStudy(self, hour):
        print(f"{self.name} studied for {hour} hours")

In [2]:
student1 = Student("Kowshic", 66)
print(student1.name)
print(student1.age)
student1 = doStudy(4)

Kowshic
66

NameError: name 'doStudy' is not defined

In [ ]:
class Calculator:
    def __init__(self):
        pass
    def addition(self, num1, num2):
        return num1 + num2
    def substraction (self, num1, num2):
        return num1 - num2

In [ ]:
class SuperCalculator(Calculator):
    def addition(self, num1, num2):
        return num1 + num2
    def square(self, num):
        num * num

In [ ]:
myCalculator = Calculator()

temp = myCalculator.addition(12, 67)
print(temp)

temp = myCalculator.substraction(35, 57)
print(temp)

temp = myCalculator.square(25)
print(temp)

print(myCalculator)