In [1]:
x = 'st'
print(x)
x = 34
print(x)
x = 3.4
print(x)

st
34
3.4

In [3]:
print(type('strins'))
print(type(34))
print(type(3.4))

<class 'str'>
<class 'int'>
<class 'float'>

In [4]:
a = 7
b = 3

In [12]:
print(a / b)
print(a // b)
print(a % b)

0.75
0
3

In [9]:
print(b ** a)

9

In [16]:
a = 3
b = 3

print(a == b)
print(a != b)

print(a < b)
print(a <= b)

True
False
False
True

In [25]:
lst = [2,3,5,7,11]
lst

[2, 3, 5, 7, 11]

In [26]:
type(lst)

list

In [27]:
lst[0]

2

In [29]:
len(lst)

5

In [2]:
lst[5]

list[5]

In [35]:
lst = [2,3,5,7,11]
lst[-1]

11

In [38]:
lst[0] = 3
print(lst)

[3, 3, 5, 7, 11]

In [39]:
lst = [2,3,5,7,11]

lst[1 : 3]

[3, 5]

In [44]:
lst[-3 : -1]

[5, 7]

In [46]:
lst = [2,5,7,9,11]
lst[1 : 4 : 2]

[5, 9]

In [47]:
lst[0 : 4 : 2]

[2, 7]

In [52]:
lst.append(13)
lst

[2, 5, 7, 9, 11, 13, 13]

In [53]:
lst.pop()
lst

[2, 5, 7, 9, 11, 13]

In [ ]:
tupple = (1, 2, 3)

In [1]:
dict = {
    'name' : 'fahim',
    'age' : 7
}

print(dict['name'])
print(dict['age'])

fahim
7

In [8]:
lst1 = [1, 2, 3]
lst2 = [3, 4, 5]

super_lst = [lst1, lst2, 5, 'sprint']
print(super_lst)

[[1, 2, 3], [3, 4, 5], 5, 'sprint']

In [9]:
l1 = [1, 2, 3]
l2 = l1

l2[0] = -1

l1

[-1, 2, 3]

In [11]:
l1 = [1, 2, 3]
l2 = l1.copy()

l2[0] = -1
l1

[1, 2, 3]

In [12]:
l2

[-1, 2, 3]

In [8]:
x = input()
int(x)
type(x)

str

In [7]:
type(x)

str

In [24]:
name = input('enter name')
age = input('enter age')
dict = {
    'name' : name,
    'age' : age
}
print(dict)

{'name': 'Shawpno', 'age': '26'}

In [25]:
3 < 5

True

In [52]:
number = input('Please Enter a Number')

In [53]:
number

'-678'

In [54]:
number = int(number)
number

-678

In [59]:
number = 0
if number > 0:
    print('The number is positive')
    print(number)
elif number == 0:
    print('The number is Zero')
else:
    print('The Number is Negative')
    print(number)

The number is Zero

In [4]:
l = ['apple', 'banana', 'orange']

In [5]:
for fruit in l:
    print(fruit)

apple
banana
orange

In [64]:
for fruit in lst[0 : 2]:
    print(fruit, 'is a fruit')

apple is a fruit
banana is a fruit

In [66]:
range(12)

range(0, 12)

In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(6):
    print()

0
1
2
3
4
5